
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="header-title mt-0 mb-1">Delivery Charges</h4>
                    <br />
                    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Killometer</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.DeliveryCharges)
                            {
                                <tr>
                                    <th>@item.Title</th>
                                    <th>@item.Kilomitter</th>
                                    <th>@item.Price</th>
                                    <th>
                                        <a id="EditChargesModal" data-target="@item.Id" title="Edit"><i style="color: slategray" data-feather="edit-3"></i></a>
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
</div>

<div id="Edit_mdl" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Update Business </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="EditFrm">

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/datatables.init.js"></script>

}
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>

    $(document).on('click', 'tr th a#EditChargesModal', function () {
            debugger
        var val1 = $(this).attr("data-target");
        $.ajax({
            type: 'get',
            url: '@Url.Action("GetDeliveryCharge", "DeliveryCharges")',
            data: { 'id': val1 },
            success: function (data) {
                debugger
                $("#EditFrm").html(data);
                $("#Edit_mdl").modal('show', { backdrop: 'true' });
            }
        })
    });

</script>